boto3==1.7.1
botocore==1.10.1
certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.5.0
Django==2.0.4
django-heroku==0.2.0
docutils==0.14
flake8==3.5.0
itsdangerous==0.24
jmespath==0.9.3
MarkupSafe==1.0
mccabe==0.6.1
pgdb==0.0.7a0
pipenv==11.9.0
psycopg2==2.7.4
pycodestyle==2.3.1
pyflakes==1.6.0
python-dateutil==2.7.2
pytz==2018.3
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.13
six==1.11.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1
whitenoise==4.0b4
django-storages==1.6.6
