[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"aniso8601" = "==1.2.0"
click = "==6.7"
flask = "*"
flask-heroku = "==0.1.9"
flask-httpauth = "==3.2.2"
flask-marshmallow = "*"
flask-restful = "*"
flask-restless = "==0.17.0"
flask-sqlalchemy = "*"
gunicorn = "==19.6.0"
itsdangerous = "==0.24"
"jinja2" = "==2.9.6"
markupsafe = "==1.0"
marshmallow = "==2.13.5"
marshmallow-sqlalchemy = "==0.13.1"
mimerender = "==0.6.0"
"psycopg2" = "==2.6.2"
pyparsing = "==2.1.10"
python-dateutil = "==2.6.0"
python-mimeparse = "==1.6.0"
pytz = "==2016.10"
sqlalchemy = "==1.1.9"
werkzeug = "==0.12.1"
requests = "*"


[dev-packages]
