{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<h3><span class="glyphicon glyphicon-link"></span>Route directory:</h3>
<ul>
  <li><a href="/test">Connection test</a></li>
  <!-- <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
  <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
  <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for Heroku</a></li> -->
</ul>
{% endblock %}